@import "../commons/variables";
@import "../commons/placeholders";

.container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .logo {
        flex-grow: 1;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
