@import '../commons/variables';
@import '../commons/placeholders';

.container {
    display: grid;
    position: relative;

    grid-template-rows: auto 1fr auto;
    min-height: 100%;

    .header {
        position: fixed;
        z-index: 1000;

        top: 0;
        right: 0;
        left: 0;
    }
}
