@import '../commons/variables';
@import '../commons/placeholders';

.container {
    position: relative;
    width: 100%;
    margin-top: 50px;

    .video {
        width: 100px;
        height: 80px;

        border: 1px dotted rgb(226, 222, 222);
    }
    @media #{$mq-medium-screen} {
        //
    }
}
